<p>food-catlogue</p>
<button (click)="addNewFood()">add food</button>

<button (click)="OnRetrivingFood()">fetch list</button>

@for (item of cartlist ; track $index) {
<div>
  <p>{{ item.name }}</p>
  <button class="no-border">
    <button (click)="decrease($index,item.id)">-</button>
      {{item.quantity}}
    <button (click)="increase($index,item.id)">+</button>
  </button>
  @if (item.quantity) {
    <p>price : {{ item.quantity * item.price}}</p>
  }
</div>
}@empty {
<div>No items found in catlog , fetch the food catlog first</div>
}
